body {
  margin: 0 auto;
}

#header{
  width: 100%;
  height: 200px;
  display: inline-block;
}

#headButton ul {
  list-style: none;
  align: right;
}

li{
  text-decoration: none;
}

#titleText {
  color: #ac4d5f;
}
