body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

header{
  display: inline-block;
}

#headButton {
  list-style: none;
  align: right;
}

li{
  text-decoration: none;
  display: flex;
}

#titleText {
  color: #ac4d5f;
}
