body {
    margin: 0;
}

h1, h3, h4, p {
    margin: 0;
}

#header {
    height: 860px;
    margin: 0 auto;
}

#header-img {
    width: 100%;
    height: 100%;
    background-color: darkblue;
}

.contents {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header-text {
    position: absolute;
    color: white;
}

.header-title {
    width: 550px;
    height: 200px;
    top: 29%;
    font-size: 32pt;
    line-height: 42pt;
    font-weight: bold;
}

.header-content {
    width: 550px;
    height: 120px;
    top: 57%;
    font-size: 14pt;
    line-height: 21pt;
    font-weight: lighter;
}

.buttons {
    top: 70%;
    position: absolute;
}

.button {
    height: 36px;
    margin-right: 15px;
    padding: 14px 36px 0 36px;
    background-color: none;
    color: white;
    display: inline-block;
    border: 2.5px white solid;
    border-radius: 25px;
    font-size: 11pt;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.button:hover {
    background-color: cadetblue;
    color: darkblue;
    border: 2.5px cadetblue solid;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.special-button {
    border: 2.5px transparent solid;
    background-color: cadetblue;
    border: 2px cadetblue solid;
    color: darkblue;
}

.special-button:hover {
    background-color: transparent;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.float-contents {
    width: 100%;
    height: 216px;
    position: absolute;
    top: 88%;
    background-color: white;
    color: dimgray;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.features-title {
    top: 25%;
    left: 4%;
    position: absolute;
}

.features-title h1 {
    font-size: 30pt;
    color: #424242;
}

.features-list {
    top: 16%;
    right: 11%;
    position: absolute;
    display: inline-block;
    border: 1px red solid;
}

.features {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.features li {
    padding: 8px 48px;
    font-size: 13pt;
    border: 1px green dashed;
}

.features p {
    display: inline-block;
    border: 1px blue dashed;
}

.icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 15px;
    border: 1px black solid;
}

.works-for-you {
    width: 100%;
    height: 740px;
    padding-top: 240px;
    background-color: #fcfcfc;
}

.works-for-you-title {
    text-align: center;
    margin-bottom: 130px;
}

.works-for-you-title h1 {
    font-size: 30pt;
}

.works-for-you-title p {
    margin-top: 2px;
}

.three-columns {
    float: left;
    width: 28.3333%;
    padding: 0 2.5%;
}

.img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px black solid;
    margin-bottom: 40px;
}

.three-columns h4, .three-columns p {
    margin-bottom: 10px;
    font-size: 13pt;
    letter-spacing: -0.5pt;
    line-height: 18pt;
    text-align: center;
}

.is-site {
    width: 100%;
    height: 540px;
    background-color: lavender;
}

.is-site-contents {
    width: 540px;
}

.is-site h1 {
    padding-top: 70px;
    font-size: 30pt;
    margin-bottom: 30px;
}

.is-site-title {
    display: inline;
}

.arrow_icon {
    width: 11px;
    height: 11px;
    border: 1px black solid;
    display: inline-block;
}

.is-site-title h4 {
    display: inline;
    margin: 20px 0;
    border: 1px green solid;
}

.is-site-text {
    margin: 20px 20px 20px 0;
}
